@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  main {
    background-size: contain;
  }
}

.wrapper-head {
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  width: 90%;
}
@media (min-width: 768px) {
  .wrapper-head {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .wrapper-head {
    width: 40%;
  }
}
.wrapper-head h2 {
  color: #293356;
  font-size: 1.4rem;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .wrapper-head h2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .wrapper-head h2 {
    font-size: 2rem;
  }
}
.wrapper-head .wrapper-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media (min-width: 768px) {
  .wrapper-head .wrapper-p {
    flex-direction: row;
    font-size: 1.1rem;
  }
}
.wrapper-head .wrapper-p p {
  color: #858fad;
  font-size: 0.9rem;
  line-height: 1.7rem;
  margin-top: -10px;
  text-align: center;
}

.wrapper-info {
  height: 75vh;
  width: 90%;
  border-radius: 10px;
  background-color: white;
  margin-top: 40px;
  box-shadow: 0px 10px 20px #858fad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .wrapper-info {
    width: 60%;
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  .wrapper-info {
    width: 40%;
  }
}
.wrapper-info .wrapper-sup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .wrapper-info .wrapper-sup {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
  }
}
.wrapper-info h4 {
  text-transform: uppercase;
  color: #858fad;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .wrapper-info h4 {
    margin: 0px;
    margin-right: 100px;
    font-size: 1rem;
    letter-spacing: 0rem;
  }
}
.wrapper-info .wrapper-range {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .wrapper-info .wrapper-range {
    order: 2;
  }
}
.wrapper-info input[type=range] {
  -webkit-appearance: none;
  width: 80%;
  background-color: transparent;
}
@media (min-width: 768px) {
  .wrapper-info input[type=range] {
    order: 0;
  }
}
.wrapper-info input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: #10d5c2;
  cursor: pointer;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 20px 40px #10d5c2;
  margin-top: -20px;
}
.wrapper-info input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #10d5c2;
  cursor: pointer;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -20px;
}
.wrapper-info input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #10d5c2;
  cursor: pointer;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -20px;
}
.wrapper-info input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 4px;
}
.wrapper-info input[type=range]::-moz-range-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 4px;
}
.wrapper-info input[type=range]::--ms-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 4px;
}

.price-month {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .price-month {
    align-self: center;
    margin-top: 0px;
  }
}
.price-month #price {
  color: #293356;
  font-weight: 800;
  font-size: 2rem;
  margin-right: 5px;
}
.price-month .mes {
  color: #858fad;
}

.wrapper-discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #858fad;
  font-size: 0.8rem;
  width: 100%;
  padding: 25px;
}
@media (min-width: 768px) {
  .wrapper-discount {
    margin-top: 30px;
  }
}
.wrapper-discount label {
  margin-right: 10px;
}
.wrapper-discount .yearly-discount {
  display: flex;
  justify-content: center;
  align-content: center;
}
.wrapper-discount .discount {
  background-color: #feece7;
  border-radius: 15px;
  margin-left: 5px;
  min-width: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 20px;
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .wrapper-discount .discount {
    width: 95px;
  }
}
.wrapper-discount .discount span {
  color: #ff8c66;
  align-self: center;
  font-size: 0.7rem;
  font-weight: 800;
}

.ventajas {
  width: 100%;
}
.ventajas .line {
  border: 0.5px solid #858fad;
  opacity: 0.3;
  width: 100%;
}
@media (min-width: 768px) {
  .ventajas .line {
    margin-top: 30px;
  }
}
.ventajas .wrapper-ventajas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
@media (min-width: 768px) {
  .ventajas .wrapper-ventajas {
    flex-direction: row;
    padding: 0px;
    margin-top: 30px;
  }
}
.ventajas .wrapper-ventajas .wrapper-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #858fad;
  margin-top: 10px;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .ventajas .wrapper-ventajas .wrapper-div {
    align-items: flex-start;
    margin-left: 40px;
  }
}
.ventajas .wrapper-ventajas .wrapper-div img {
  margin-right: 20px;
}
.ventajas .wrapper-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .ventajas .wrapper-button {
    margin: 0px;
  }
}
.ventajas .wrapper-button .btn {
  align-self: center;
  border: none;
  width: 150px;
  padding: 15px;
  border-radius: 30px;
  background-color: #293356;
  color: #cdd7ee;
  font-weight: 600;
  cursor: pointer;
}

.visible {
  display: none;
}
@media (min-width: 768px) {
  .visible {
    display: block;
  }
}

.switch {
  display: inline-block;
}
.switch input[type=checkbox] {
  visibility: hidden;
  position: absolute;
  left: -100%;
}
.switch input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 1.9em;
  border-radius: 1em;
  text-indent: -9999px;
  background-color: #eee;
  transition: all 0.25s cubic-bezier(0.1, 0.8, 0.1, 0.3);
}
.switch input[type=checkbox] + label:after {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translate(0, -50%);
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2), -1px -1px 3px rgba(102, 102, 102, 0.2);
  border-radius: 1em;
  content: "";
  width: 1.2em;
  height: 1.2em;
  transition: all 0.25s cubic-bezier(0.1, 0.8, 0.1, 0.3);
}
.switch input[type=checkbox]:checked + label {
  background-color: #a5f3eb;
}
.switch input[type=checkbox]:checked + label:after {
  left: 100%;
  transform: translate(-100%, -50%);
}

/*# sourceMappingURL=style.css.map */
